body
{
  background-color: black;
  background-image: url("images/background.png");
}

#button
{
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: #003366;
  margin-left: 48%;
  margin-top: 50px;
  width: 60px;
  height: 30px;
}

#startMenu
{
  height: 400px;
  width: 480px;
  background-image: url("images/background.png");
  margin: auto;
}

#play
{
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: #003366;
  margin-left: 48%;
  margin-top: 50px;
  display: block; 
/*  float: left;
  margin: 0 auto;
  margin-top: 300px;*/
  width: 50px;
  height: 30px;
}
span
{
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin-top: 40px;
  margin-left: 30px;
}
#startMenu
{
  border: solid white 1px;
}
canvas
{
  border: solid white 1px;
}